<h1>Stupid Coaching</h1>

<div class="question">
  <p><%= @question %></p>
  <p> -You </p>
</div>
<br>
<div class="answer">
  <p><%= @answer %></p>
  <p> -Your coach </p>
</div>
<br>
<br>
<%= link_to "ask a new question", ask_path %>
